@keyframes transparent_background  {
  0%   {background-position:0% 0%}
  100% {background-position:0% 100%}
}

@keyframes normal_background  {
  0%   {background-position:0% 100%}
  100% {background-position:0% 0%}
}




@keyframes arrowlink-rotate180 {
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}

@keyframes arrowlink-rotate0 {
  0%   {transform: rotate(180deg);}
  100% {transform: rotate(0deg);}
}