/*########## Defaults ##########*/

body {margin:0px;
padding:0px;
line-height:1;
background:black;}

a {text-decoration: none;}

li {list-style-type:none;}

b {color:white}

h3 {font-size: clamp(0.65rem, 1.25vw, 1.35rem);
margin:auto;
font-family: 'IBM Plex Serif', serif;
}