/*########## MOBILE - NAVBAR AND BACKDROP ##########*/

/* NavBar */
@media screen and (max-width: 900px) {
  #middle_navbar {
    float: left;
    width: 25%;
  }

  #middle_navbar > ul > li {
    display: none;
  }  

  #middlenavbar_responsive {
    width: 10%;
    display: flex;
    align-items: center;
    margin-left: -60px;
  }

  .list.responsive li {
    display: block;
    float: none;
  }

  #search_icon {
    width: 45%;
    margin-left: -15px;
  }

  #bell_icon {
    width: 40%;
  }

  .face_icon {
    max-width: 35px;
    margin-left: -10%;
  }

  #moviegenre {
    margin-left: -20%;
  }

  #search_navbar {
    left: 1px;
  }

  #search_input {
    margin-left: -70%;
  }
}

@media screen and (max-width: 820px) {
  nav {
    height: 30px;
  }

  #left_navbar {
    max-width: 50px;
    margin-left: -15px;
  }

  #middlenavbar_responsive,#movie_genre {
    font-size: 10px;
  }

  #movie_genre {
    margin-left: -5px;
  }

  #arrow_icon {
    width: 8.5px;
  }

  #bell_icon {
    width: 25%;
  }

  #search_icon {
    width: 50%;
    margin-left: -5px;
  }

  #face_icon_navbar {
    max-width: 20px;
    margin-left: -15px;
  }

  #right_navbar {
    max-width: 85px;
    margin-right: 0%;
  }
}

/* Backdrop */
@media screen and (max-width: 730px) {
  #button_play {
    width: 13.5%;
  }

  #button_info {
    width: 25%;
  }

  #movie_info > #backdrop_h2_container {
    margin-top: -5.75%;
  }
}

@media screen and (max-width: 500px) {
  #button_play {
    width: 17.5%;
    left: 43.5%;
  }

  #button_info {
    width: 34%;
    left: 43.5%;
  }

  #movie_info > #backdrop_h2_container {
    margin-top: -7.75%;
    width: 38.5%;
  }
}

@media screen and (max-width: 360px) {
  #button_play {
    width: 16.5%;
  }

  #button_play > a > h3 {
    font-size: 7px;
  }

  #button_info {
    width: 30%;
  }

  #button_info > a > h3 {
    font-size: 7px;
  }

  #movie_info > #backdrop_h2_container > h2 {
    font-size: 7px;
  }
}
