/*########## NavBar ##########*/

.nav_start {
  height: 50px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  background-size: 100% 200%;
  background-position: 0% 0%;
  position: fixed;
}

.nav_normal {
  animation: normal_background 1s;
  animation-fill-mode: forwards;
}

.nav_transparent {
  animation: transparent_background 1s;
  animation-fill-mode: forwards;
}

.navbar_align > #arrow_perfil {
  margin-left: 5px;
}

.navbar_align > #arrow_perfil > img {
  margin: 0;
}

.navbar_align {
  width: 100%;
}

.navbar_align > a {
  color: white;
}

.navbar_align > a:hover {
  color: gray;
}

.navleft {
  float: left;
}

#left_navbar {
  float: left;
  max-width: calc(2.5% + 70px); /*Cálculo para o logo diminuir menos que o normal*/
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 30px;
}

#left_navbar > img {
  width: 100%;
}

#middle_navbar {
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

#middle_navbar > ul {
  overflow: hidden;
  font-size: clamp(0.85rem,1.5vw,1rem); /*text min size,active size, max size*/
}

#middle_navbar > ul > li > a {
  display: block;
  color: white;
}

#middle_navbar > ul > li {
  padding: 0 16px 0 0;
}

#middle_navbar > ul > li > a:hover {
  color: gray;
}

#middle_navbar > ul > li > hr {
  border: 0;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#middlenavbar_responsive {
  display: none;
}

#middlenavbar_responsive > #arrow_start > img {
  margin: 0;
}

#right_navbar {
  float: right;
  max-width: calc(5% + 100px);
  margin-right: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-size: clamp(0.85rem,1.5vw,1rem); /*text min size,active size, max size*/
}

#list_start {
  color: white;
  padding: 0 5px 0 0;
}

#menu_start {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 150px;
  position: absolute;
  left: 60px;
  top: 50px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1000ms, visibility 1000ms;
  z-index: 1;
}

#menu_start:hover {
  visibility: visible;
  opacity: 1;
}

#menu_start > ul {
  display: block;
  margin: auto;
}

#menu_start > ul {
  color: white;
  text-align: center;
  padding: 0;
  margin-top: 0;
}

#menu_start > ul > li {
  padding: 16px 0 16px 0;
}

#menu_start > ul > li > a {
  color: white;
}

#menu_start > ul > li:hover {
  background: gray;
}

#arrow_start:hover ~ #menu_start {
  visibility: visible; /*Hover container brother element*/
  opacity: 1;
}

#arrow_icon {
  width: 12.5px;
  margin-left: 2.5px;
}

#arrow_perfil:hover ~ #perfil {
  visibility: visible; /*Hover container brother element*/
  opacity: 1;
}

.arrowlink_rotate180,.arrowstart_rotate180 {
  animation: arrowlink-rotate180 0.5s;
  animation-fill-mode: both;
}

.arrowlink_rotate0,.arrowstart_rotate0 {
  animation: arrowlink-rotate0 0.5s;
  animation-fill-mode: both;
}

#search_navbar {
  float: right;
  position: relative;
  left: 7px;
  max-width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-size: clamp(0.85rem,1.5vw,1rem); /*text min size,active size, max size*/
}

#search_input {
  width: 0px;
  padding: 0;
  border: 0;
  line-height: 25px;
  font-size: clamp(0.57rem, 1.5vw, 1.35rem);
  text-align: center;
  border-radius: 40px;
  transform: translate(-100%, 0%);
  margin-left: -40%;
  transition: 1s;
}

#search_icon {
  width: 25%;
}

#faceicon_group {
  display: flex;
  align-items: center;
}

.face_icon {
  max-width: 35px;
  margin-left: -25%;
}

#bell_icon {
  width: 30%;
}

#movie_genre {
  width: 100%;
  margin-left: -32.5%;
}

#perfil {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 150px;
  padding: 0 0 5px 10px;
  position: absolute;
  top: 50px;
  right: 7%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1000ms, visibility 1000ms;
}

#perfil:hover {
  visibility: visible;
  opacity: 1;
}

#login_dropdown_table1 {
  padding: 5px 5px 2.5px 4.25px;
}

#login_dropdown_table2 {
  padding: 5px 5px 2.5px 0px;
}

#login_dropdown_table1,#login_dropdown_table2 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#login_dropdown_table3 {
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
}

.tableformat td:nth-child(1) {
  text-align: center;
}

.tableformat td:nth-child(2) {
  text-align: left;
}

tr:hover {
  text-decoration: underline;
}

hr {
  margin-left: -6.5%;
}
